In [3]:
"""Task 1: Apply custom functions to columns using apply or map (e.g., calculate profit margin)."""

import pandas as pd

# Sample dataset 5 - Financial Data
data_finance = {
    "Month": ["January", "February", "March", "April", "May"],
    "Income": [10000, 15000, 20000, 13000, 18000],
    "Expense": [5000, 7000, 9000, 4000, 8000],
    "Profit": [5000, 8000, 11000, 9000, 10000],
}
df_finance = pd.DataFrame(data_finance)
print(df_finance)

      Month  Income  Expense  Profit
0   January   10000     5000    5000
1  February   15000     7000    8000
2     March   20000     9000   11000
3     April   13000     4000    9000
4       May   18000     8000   10000

In [8]:
def calculate_profit_margin(row):
    return (row['Profit'] / row['Income']) * 100

df_finance['Profit_Margin'] = df_finance.apply(calculate_profit_margin, axis=1)

print(df_finance)

      Month  Income  Expense  Profit  Profit_Margin
0   January   10000     5000    5000      50.000000
1  February   15000     7000    8000      53.333333
2     March   20000     9000   11000      55.000000
3     April   13000     4000    9000      69.230769
4       May   18000     8000   10000      55.555556

In [13]:
"""Task 2: Use .groupby and .agg to perform multiple aggregations on grouped data."""

aggregated_data = df_finance.groupby('Month').agg({
    'Income': 'sum',           
    'Expense': 'sum', 
    'Profit': 'mean',           
    'Profit_Margin': 'mean'      
})

print(aggregated_data)

          Income  Expense   Profit  Profit_Margin
Month
April      13000     4000   9000.0      69.230769
February   15000     7000   8000.0      53.333333
January    10000     5000   5000.0      50.000000
March      20000     9000  11000.0      55.000000
May        18000     8000  10000.0      55.555556

In [17]:
"""Task 3: Create new columns based on existing columns (e.g., create a Total_Sales column as Quantity * Price)."""

data_sales = {
    "Date": ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"],
    "Product": ["A", "B", "A", "C", "B"],
    "Quantity": [10, 5, 8, 6, 7],
    "Price": [100, 200, 100, 300, 200],
    "Customer_ID": [101, 102, 103, 104, 101],
}
df_sales = pd.DataFrame(data_sales)

print(df_sales)

         Date Product  Quantity  Price  Customer_ID
0  2023-01-01       A        10    100          101
1  2023-01-02       B         5    200          102
2  2023-01-03       A         8    100          103
3  2023-01-04       C         6    300          104
4  2023-01-05       B         7    200          101

In [20]:
df_sales['Total_Sales'] = df_sales['Quantity'] * df_sales['Price'] 

print(df_sales)

         Date Product  Quantity  Price  Customer_ID  Total_Sales
0  2023-01-01       A        10    100          101         1000
1  2023-01-02       B         5    200          102         1000
2  2023-01-03       A         8    100          103          800
3  2023-01-04       C         6    300          104         1800
4  2023-01-05       B         7    200          101         1400

In [25]:
"""Task 4: Reshape the DataFrame using .melt() or .pivot()."""

df_melted = pd.melt(df_sales, id_vars=["Date", "Product", "Customer_ID"], 
                    value_vars=["Quantity", "Total_Sales"],
                    var_name="Measure", value_name="Value")

print(df_melted)

         Date Product  Customer_ID      Measure  Value
0  2023-01-01       A          101     Quantity     10
1  2023-01-02       B          102     Quantity      5
2  2023-01-03       A          103     Quantity      8
3  2023-01-04       C          104     Quantity      6
4  2023-01-05       B          101     Quantity      7
5  2023-01-01       A          101  Total_Sales   1000
6  2023-01-02       B          102  Total_Sales   1000
7  2023-01-03       A          103  Total_Sales    800
8  2023-01-04       C          104  Total_Sales   1800
9  2023-01-05       B          101  Total_Sales   1400

In [26]:
pivot_table = df_sales.pivot(index="Date", columns="Product", values="Total_Sales")

print(pivot_table)

Product          A       B       C
Date
2023-01-01  1000.0     NaN     NaN
2023-01-02     NaN  1000.0     NaN
2023-01-03   800.0     NaN     NaN
2023-01-04     NaN     NaN  1800.0
2023-01-05     NaN  1400.0     NaN

In [33]:
"""Task 5: Use .rolling() and .expanding() to perform moving window calculations on time series data (e.g., rolling mean of Income)."""

data_finance = {
    "Month": ["January", "February", "March", "April", "May"],
    "Income": [10000, 15000, 20000, 13000, 18000],
    "Expense": [5000, 7000, 9000, 4000, 8000],
    "Profit": [5000, 8000, 11000, 9000, 10000],
}
df_finance = pd.DataFrame(data_finance)
print(df_finance)

      Month  Income  Expense  Profit
0   January   10000     5000    5000
1  February   15000     7000    8000
2     March   20000     9000   11000
3     April   13000     4000    9000
4       May   18000     8000   10000

In [34]:
df_finance['Income_Rolling_Mean'] = df_finance['Income'].rolling(window=3).mean()

print(df_finance)

      Month  Income  Expense  Profit  Income_Rolling_Mean
0   January   10000     5000    5000                  NaN
1  February   15000     7000    8000                  NaN
2     March   20000     9000   11000              15000.0
3     April   13000     4000    9000              16000.0
4       May   18000     8000   10000              17000.0

In [35]:
df_finance['Income_Expanding_Mean'] = df_finance['Income'].expanding().mean()

print(df_finance)

      Month  Income  Expense  Profit  Income_Rolling_Mean  \
0   January   10000     5000    5000                  NaN
1  February   15000     7000    8000                  NaN
2     March   20000     9000   11000              15000.0
3     April   13000     4000    9000              16000.0
4       May   18000     8000   10000              17000.0

   Income_Expanding_Mean
0                10000.0
1                12500.0
2                15000.0
3                14500.0
4                15200.0