In [2]:
# Sample dataset 2 - Employee Data

import pandas as pd

data_employee = {
    "Employee_ID": [1, 2, 3, 4, 5],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Department": ["HR", "IT", "HR", "Sales", "IT"],
    "Salary": [50000, 60000, 55000, 70000, 62000],
}
df_employee = pd.DataFrame(data_employee)
print(df_employee)

   Employee_ID     Name Department  Salary
0            1    Alice         HR   50000
1            2      Bob         IT   60000
2            3  Charlie         HR   55000
3            4    David      Sales   70000
4            5      Eva         IT   62000

In [4]:
"""Task 1: Remove duplicate rows based on a specific column (e.g., Customer_ID)."""

department_duplicates = df_employee.drop_duplicates(subset=['Department'])
print(department_duplicates)

   Employee_ID   Name Department  Salary
0            1  Alice         HR   50000
1            2    Bob         IT   60000
3            4  David      Sales   70000

In [6]:
"""Task 2: Fill missing values with the mean/median/mode of the column."""

missing_values = df_employee.fillna(df_employee['Salary'].mean())

In [13]:
"""Task 3: Convert a column's data type (e.g., change the Date column to datetime format)."""

# Sample dataset 3 - Weather Data

import pandas as pd

data_weather = {
    "Date": ["2023-09-01", "2023-09-02", "2023-09-03", "2023-09-04", "2023-09-05"],
    "City": ["New York", "Los Angeles", "New York", "Chicago", "Los Angeles"],
    "Temperature": [80, 85, 82, 75, 88],
    "Rainfall": [0.1, 0.0, 0.2, 0.0, 0.0],
}
df_weather = pd.DataFrame(data_weather)
print(df_weather)

convert_column = pd.to_datetime(df_weather['Date'])
print(convert_column)

         Date         City  Temperature  Rainfall
0  2023-09-01     New York           80       0.1
1  2023-09-02  Los Angeles           85       0.0
2  2023-09-03     New York           82       0.2
3  2023-09-04      Chicago           75       0.0
4  2023-09-05  Los Angeles           88       0.0
0   2023-09-01
1   2023-09-02
2   2023-09-03
3   2023-09-04
4   2023-09-05
Name: Date, dtype: datetime64[ns]

In [19]:
"""Task 4: Rename columns for easier readability (e.g., rename Employee_ID to ID)."""

rename_column = df_weather.rename(columns ={'Temperature': 'Temp'})
print(rename_column)

         Date         City  Temp  Rainfall
0  2023-09-01     New York    80       0.1
1  2023-09-02  Los Angeles    85       0.0
2  2023-09-03     New York    82       0.2
3  2023-09-04      Chicago    75       0.0
4  2023-09-05  Los Angeles    88       0.0

In [20]:
"""Task 5: Sort the DataFrame by a specific column (e.g., Quantity or Salary)."""

df_sorted = df_weather.sort_values('City')
print(df_sorted)

         Date         City  Temperature  Rainfall
3  2023-09-04      Chicago           75       0.0
1  2023-09-02  Los Angeles           85       0.0
4  2023-09-05  Los Angeles           88       0.0
0  2023-09-01     New York           80       0.1
2  2023-09-03     New York           82       0.2