In [1]:
import pandas as pd

In [5]:
# Sample dataset 1 - Sales Data
data_sales = {
    "Date": ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"],
    "Product": ["A", "B", "A", "C", "B"],
    "Quantity": [10, 5, 8, 6, 7],
    "Price": [100, 200, 100, 300, 200],
    "Customer_ID": [101, 102, 103, 104, 101],
}
df_sales = pd.DataFrame(data_sales)
print(df_sales)

         Date Product  Quantity  Price  Customer_ID
0  2023-01-01       A        10    100          101
1  2023-01-02       B         5    200          102
2  2023-01-03       A         8    100          103
3  2023-01-04       C         6    300          104
4  2023-01-05       B         7    200          101

In [11]:
"""Task 2: Missing values"""

missing_sales = df_sales.isnull()
print(missing_sales)

    Date  Product  Quantity  Price  Customer_ID
0  False    False     False  False        False
1  False    False     False  False        False
2  False    False     False  False        False
3  False    False     False  False        False
4  False    False     False  False        False

In [19]:
"""Task 3: basic summary statistics"""

import statistics

mean_price = df_sales['Price'].mean()
print(mean_price)

max_quantity = df_sales.max()
print(max_quantity)

median_price = df_sales['Price'].median()
print(median_price)

180.0
Date           2023-01-05
Product                 C
Quantity               10
Price                 300
Customer_ID           104
dtype: object
200.0

In [9]:
"""Task 4: Group by a specific column (e.g., Product or Department) and calculate the sum/mean of another column."""
data_sales = {
    "Date": ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"],
    "Product": ["A", "B", "A", "C", "B"],
    "Quantity": [10, 5, 8, 6, 7],
    "Price": [100, 200, 100, 300, 200],
    "Customer_ID": [101, 102, 103, 104, 101],
}
df_sales = pd.DataFrame(data_sales)
print(df_sales)

grouped_product = df_sales.groupby('Product')['Quantity'].sum()
print(grouped_product)

         Date Product  Quantity  Price  Customer_ID
0  2023-01-01       A        10    100          101
1  2023-01-02       B         5    200          102
2  2023-01-03       A         8    100          103
3  2023-01-04       C         6    300          104
4  2023-01-05       B         7    200          101
Product
A    18
B    12
C     6
Name: Quantity, dtype: int64

In [11]:
"""Task 5: Filter rows based on a condition (e.g., Price > 150 or Salary < 60000)."""

high_price = df_sales[df_sales['Price']>=200]
print(high_price)

         Date Product  Quantity  Price  Customer_ID
1  2023-01-02       B         5    200          102
3  2023-01-04       C         6    300          104
4  2023-01-05       B         7    200          101

In [6]:
# Sample dataset 2 - Employee Data
data_employee = {
    "Employee_ID": [1, 2, 3, 4, 5],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Department": ["HR", "IT", "HR", "Sales", "IT"],
    "Salary": [50000, 60000, 55000, 70000, 62000],
}
df_employee = pd.DataFrame(data_employee)
print(df_employee)

   Employee_ID     Name Department  Salary
0            1    Alice         HR   50000
1            2      Bob         IT   60000
2            3  Charlie         HR   55000
3            4    David      Sales   70000
4            5      Eva         IT   62000

In [7]:
# Sample dataset 3 - Weather Data
data_weather = {
    "Date": ["2023-09-01", "2023-09-02", "2023-09-03", "2023-09-04", "2023-09-05"],
    "City": ["New York", "Los Angeles", "New York", "Chicago", "Los Angeles"],
    "Temperature": [80, 85, 82, 75, 88],
    "Rainfall": [0.1, 0.0, 0.2, 0.0, 0.0],
}
df_weather = pd.DataFrame(data_weather)
print(df_weather)

         Date         City  Temperature  Rainfall
0  2023-09-01     New York           80       0.1
1  2023-09-02  Los Angeles           85       0.0
2  2023-09-03     New York           82       0.2
3  2023-09-04      Chicago           75       0.0
4  2023-09-05  Los Angeles           88       0.0

In [8]:
# Sample dataset 4 - Orders Data
data_orders = {
    "Order_ID": [1001, 1002, 1003, 1004, 1005],
    "Customer_ID": [101, 102, 103, 104, 105],
    "Order_Amount": [150, 200, 175, 220, 300],
    "Order_Date": [
        "2023-07-01",
        "2023-07-02",
        "2023-07-03",
        "2023-07-04",
        "2023-07-05",
    ],
}
df_orders = pd.DataFrame(data_orders)
print(df_orders)

   Order_ID  Customer_ID  Order_Amount  Order_Date
0      1001          101           150  2023-07-01
1      1002          102           200  2023-07-02
2      1003          103           175  2023-07-03
3      1004          104           220  2023-07-04
4      1005          105           300  2023-07-05

In [9]:
# Sample dataset 5 - Financial Data
data_finance = {
    "Month": ["January", "February", "March", "April", "May"],
    "Income": [10000, 15000, 20000, 13000, 18000],
    "Expense": [5000, 7000, 9000, 4000, 8000],
    "Profit": [5000, 8000, 11000, 9000, 10000],
}
df_finance = pd.DataFrame(data_finance)
print(df_finance)

      Month  Income  Expense  Profit
0   January   10000     5000    5000
1  February   15000     7000    8000
2     March   20000     9000   11000
3     April   13000     4000    9000
4       May   18000     8000   10000