In [1]:
"""Task 1: Merge two DataFrames on a common column (e.g., Customer_ID in sales and orders data)."""

import pandas as pd

In [3]:
# Sample dataset 1 - Sales Data
data_sales = {
    "Date": ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"],
    "Product": ["A", "B", "A", "C", "B"],
    "Quantity": [10, 5, 8, 6, 7],
    "Price": [100, 200, 100, 300, 200],
    "Customer_ID": [101, 102, 103, 104, 101],
}
df_sales = pd.DataFrame(data_sales)
print(df_sales)

         Date Product  Quantity  Price  Customer_ID
0  2023-01-01       A        10    100          101
1  2023-01-02       B         5    200          102
2  2023-01-03       A         8    100          103
3  2023-01-04       C         6    300          104
4  2023-01-05       B         7    200          101

In [2]:
# Sample dataset 4 - Orders Data
data_orders = {
    "Order_ID": [1001, 1002, 1003, 1004, 1005],
    "Customer_ID": [101, 102, 103, 104, 105],
    "Order_Amount": [150, 200, 175, 220, 300],
    "Order_Date": [
        "2023-07-01",
        "2023-07-02",
        "2023-07-03",
        "2023-07-04",
        "2023-07-05",
    ],
}
df_orders = pd.DataFrame(data_orders)
print(df_orders)

   Order_ID  Customer_ID  Order_Amount  Order_Date
0      1001          101           150  2023-07-01
1      1002          102           200  2023-07-02
2      1003          103           175  2023-07-03
3      1004          104           220  2023-07-04
4      1005          105           300  2023-07-05

In [4]:
merged_inner = pd.merge(df_sales, df_orders, on='Customer_ID', how='inner')
print(merged_inner)

         Date Product  Quantity  Price  Customer_ID  Order_ID  Order_Amount  \
0  2023-01-01       A        10    100          101      1001           150
1  2023-01-02       B         5    200          102      1002           200
2  2023-01-03       A         8    100          103      1003           175
3  2023-01-04       C         6    300          104      1004           220
4  2023-01-05       B         7    200          101      1001           150

   Order_Date
0  2023-07-01
1  2023-07-02
2  2023-07-03
3  2023-07-04
4  2023-07-01

In [5]:
"""Task 2: Handle missing values that arise from a merge.""",

missing_values = df_orders.fillna(0)
print(missing_values)

   Order_ID  Customer_ID  Order_Amount  Order_Date
0      1001          101           150  2023-07-01
1      1002          102           200  2023-07-02
2      1003          103           175  2023-07-03
3      1004          104           220  2023-07-04
4      1005          105           300  2023-07-05

In [6]:
"""Task 3: Concatenate multiple DataFrames along rows or columns."""

combined = pd.concat([df_orders, df_sales], ignore_index=True)
print(combined)

   Order_ID  Customer_ID  Order_Amount  Order_Date        Date Product  \
0    1001.0          101         150.0  2023-07-01         NaN     NaN
1    1002.0          102         200.0  2023-07-02         NaN     NaN
2    1003.0          103         175.0  2023-07-03         NaN     NaN
3    1004.0          104         220.0  2023-07-04         NaN     NaN
4    1005.0          105         300.0  2023-07-05         NaN     NaN
5       NaN          101           NaN         NaN  2023-01-01       A
6       NaN          102           NaN         NaN  2023-01-02       B
7       NaN          103           NaN         NaN  2023-01-03       A
8       NaN          104           NaN         NaN  2023-01-04       C
9       NaN          101           NaN         NaN  2023-01-05       B

   Quantity  Price
0       NaN    NaN
1       NaN    NaN
2       NaN    NaN
3       NaN    NaN
4       NaN    NaN
5      10.0  100.0
6       5.0  200.0
7       8.0  100.0
8       6.0  300.0
9       7.0  200.0

In [10]:
"""Task 4: Use pivot_table to summarize data (e.g., showing total Quantity by Product and Date)."""

import pandas as pd

# Sample dataset 1 - Sales Data
data_sales = {
    "Date": ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"],
    "Product": ["A", "B", "A", "C", "B"],
    "Quantity": [10, 5, 8, 6, 7],
    "Price": [100, 200, 100, 300, 200],
    "Customer_ID": [101, 102, 103, 104, 101],
}
df_sales = pd.DataFrame(data_sales)
print(df_sales)

pivot_table = pd.pivot_table(df_sales, values = 'Quantity', index = 'Date', columns = 'Product', aggfunc = 'sum', fill_value = 0)
print(pivot_table)

         Date Product  Quantity  Price  Customer_ID
0  2023-01-01       A        10    100          101
1  2023-01-02       B         5    200          102
2  2023-01-03       A         8    100          103
3  2023-01-04       C         6    300          104
4  2023-01-05       B         7    200          101
Product      A  B  C
Date
2023-01-01  10  0  0
2023-01-02   0  5  0
2023-01-03   8  0  0
2023-01-04   0  0  6
2023-01-05   0  7  0